<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Stats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>
    <div class="header">
        <h1>Welcome {{ user_profile.display_name }}</h1>
    </div>
    <div class="actions">
        <div class="action-card">
            <h2>Search for Artists</h2>
            <ul>
                <li>Search for Artists</li>
                <li><a href="#">Top Songs</a></li>
                <li><div class="form-group">
                    <label for="artist-name">Enter Artist Name:</label>
                    <input type="text" id="artist-name" class="form-control" placeholder="Radiohead">
                </div></li>
                <button id="search-button" class="btn btn-primary">Search</button>
                <div class="results">
                    <h3>Top songs:</h3>
                    <ul id="song-list" class="list-group"></ul>
                </div>
            </ul>
        </div>
        <div class="action-card">
            <h2>View Your Stats</h2>
            <h3>Top 10 Songs</h3>
            <button id="show-top-songs" class="btn btn-primary">Show Top 10 Songs</button>
            <ul id="top-songs-list" class="list-group"></ul>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    $(document).ready(function() {
        $('#search-button').click(function() {
            var artistName = $('#artist-name').val();
            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '/search/',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ artist_name: artistName }),
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    $('#song-list').empty();
                    if(response.error) {
                        $('#song-list').append('<li class="list-group-item">' + response.error + '</li>');
                    } else {
                        response.songs.forEach(function(song) {
                            $('#song-list').append('<li class="list-group-item">' + song.name + '</li>');
                        });
                    }
                }
            });
        });
        $('#show-top-songs').click(function() {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '/get-top-songs/',
                type: 'GET',
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    $('#top-songs-list').empty();
                    response.top_tracks.forEach(function(track) {
                        $('#top-songs-list').append('<li class="list-group-item">' + track.name + ' by ' + track.artists[0].name + '</li>');
                    });
                }
            });
        });
    });
</script>
</html>
