<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Artist Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        .results {
            margin-top: 20px;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 70px;
        }
        a {
            margin: 10px;
            margin-top: 70px;
        }
    </style>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Your Digital Vinyl.<h1>
        <a href="/login/" class="btn btn-success">Login with Spotify to get started.</a>
    </div>
</body>
</html>
